{%include "base1.html" %}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div align="center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>  
            </div>
        </div>.
    </div>
</nav>
<div>
    <h2 align="center">Welcome, {{name}}</h2>
</div>
<div align="center">
    <img src="../../static/img/EComSite8.jpg"/>
</div>
<div align="center">
    <img src="../../static/img/EComSite11.jpg"/>
</div><br/>
<div align="center">
    <img src="../../static/img/EComSite12.jpg"/>
</div>
<footer align="center">
    <br/>IAI-Togo 2022-23. Deuxième année Tronc Commun Groupe C. Projet Python Flask<br/><br/>
</footer>
{% endblock %}